<table>
  <tr>
    <% 9.times do %>
    <td class='solved_cell'><%= @board.shift[0] %></td>
    <% end %>
  </tr>
  <tr>
    <% 9.times do %>
    <td class='solved_cell'><%= @board.shift[0] %></td>
    <% end %>
  </tr>
  <tr>
    <% 9.times do %>
    <td class='solved_cell'><%= @board.shift[0] %></td>
    <% end %>
  </tr>
  <tr>
    <% 9.times do %>
    <td class='solved_cell'><%= @board.shift[0] %></td>
    <% end %>
  </tr>
  <tr>
    <% 9.times do %>
    <td class='solved_cell'><%= @board.shift[0] %></td>
    <% end %>
  </tr>
  <tr>
    <% 9.times do %>
    <td class='solved_cell'><%= @board.shift[0] %></td>
    <% end %>
  </tr>
  <tr>
    <% 9.times do %>
    <td class='solved_cell'><%= @board.shift[0] %></td>
    <% end %>
  </tr>
  <tr>
    <% 9.times do %>
    <td class='solved_cell'><%= @board.shift[0] %></td>
    <% end %>
  </tr>
  <tr>
    <% 9.times do %>
    <td class='solved_cell'><%= @board.shift[0] %></td>
    <% end %>
  </tr>
</table>
